/* Main stylesheet for Star Wars website. */
html {
  font-family: "Calibri", "Helvetica", sans-serif;
}

/* Classes! */
.list {
  background-color: rgba(0,0,0, 0.25);
  border-radius: 4px;
  border: 1px solid #000;
}

.list-item {
  font-weight: bold;
}

.list-item.active {
  background-color: #333;
  color: white;
}

.list-item:hover {
  color: red;
}

.message {
  padding: 1em;
  background: lightgray;
  color: #333;
  border: 2px solid gray;
}

.message span {
  font-weight: bold;
}

.message.danger {
  background: red;
  color: white;
}

.message.success {
  background: lawngreen;
}

.message.info {
  background: lightblue;
}

section, aside {
  float: left;
}

section {
  width: 70%;
}

aside {
  width: 30%;
}

img {
  width: 100%;
}

.movies .panel-heading {
  min-height: 70px;
}
