/* Main stylesheet for Star Wars website. */
html {
  font-family: "Calibri", "Helvetica", sans-serif;
}

/*
Oh man, this is a long comment.
*/
a {
  color: yellow !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section, aside {
  float: left;
}

section {
  width: 70%;
}

aside {
  width: 30%;
}

img {
  width: 100%;
}
